@-webkit-keyframes slideInDown {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

@keyframes slideInDown {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes slideInUp {
  from {
    top: 0px;
  }
  to {
    top: -200px;
  }
}

@keyframes slideInUp {
  from {
    top: 0px;
  }
  to {
    top: -200px;
  }
}

@-webkit-keyframes circleRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circleRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  position: relative;
  overflow: hidden;
  background-color: #020b15;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

.cursor-circle {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
  border: 2px solid white;
  border-radius: 50% 50%;
  width: 30px;
  height: 30px;
  font-size: 1.8rem;
  font-weight: bold;
  pointer-events: none;
}

.cursor-circle--active {
  width: 60px;
  height: 60px;
}

.cursor-circle--active-nav {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
}

.burger-btn {
  position: fixed;
  z-index: 10;
  top: 0px;
  right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  border: 1px solid transparent;
  width: 80px;
  height: 80px;
  background: none;
  cursor: none;
  outline: none;
}

.burger-btn--show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger-btn__bars {
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
  margin: 2px 0;
  width: 30px;
  height: 2px;
  background-color: #e3e3e3;
}

.burger-btn__bars--active:nth-child(1) {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.burger-btn__bars--active:nth-child(2) {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav__horizontal {
  position: fixed;
  z-index: 9;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 100vw;
  padding-right: 70px;
  font-weight: bold;
}

.nav__horizontal-item {
  position: relative;
  top: -200px;
  margin-left: 40px;
  font-size: 1.9rem;
  color: white;
  text-decoration: none;
}

.nav__vertical {
  position: fixed;
  z-index: 9;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  width: 100vw;
  height: 100vh;
  background-color: #020b15;
}

.nav__vertical--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__vertical-item {
  position: relative;
  display: block;
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  margin: 10px 0;
  font-size: 3rem;
  letter-spacing: -1px;
  color: #ffffff;
  text-decoration: none;
}

.nav__vertical-item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__vertical-item::after {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

.nav__vertical-item--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__vertical-item--active:nth-child(1) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav__vertical-item--active:nth-child(2) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.nav__vertical-item--active:nth-child(3) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.nav__vertical-item--active:nth-child(4) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.title-page {
  z-index: 8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #020b15;
}

.title-page__hero-text {
  color: #ffffff;
}

.title-page__first-line {
  font-size: 1.7rem;
}

.title-page__second-line {
  font-size: 3.5rem;
  line-height: 3rem;
}

.title-page__third-line {
  font-size: 1.5rem;
  text-align: right;
}

.title-page .bubbles {
  position: absolute;
  z-index: 7;
  border-radius: 50% 50%;
  background-color: #ffffff07;
}

.title-page .bubbles__one {
  top: 50px;
  width: 100px;
  height: 100px;
}

.title-page .bubbles__two {
  top: 200px;
  width: 80px;
  height: 80px;
}

.title-page .bubbles__three {
  top: 300px;
  width: 50px;
  height: 50px;
}

.about-me {
  z-index: 8;
  height: auto;
  width: 100vw;
  background-color: #09121b;
  color: #ffffff;
}

.about-me__circle {
  display: none;
}

.about-me__wrapper {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.about-me__description {
  position: relative;
  width: 100%;
  padding: 0 20px 40px 20px;
  font-size: 1.4rem;
  text-align: center;
}

.about-me__description-title {
  padding: 20px 0 10px 0;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.about-me__description-about-download {
  position: relative;
  z-index: 8;
  display: inline-block;
  overflow: hidden;
  margin-top: 10px;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 8px 12px;
  font-size: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}

.about-me__description-about-download::before, .about-me__description-about-download::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #8b0407;
  z-index: -1;
}

.about-me__description-about-download::before {
  top: 0;
  left: -100%;
  -webkit-transition: left .3s ease-in;
  transition: left .3s ease-in;
}

.about-me__description-about-download::after {
  bottom: 0;
  right: -100%;
  -webkit-transition: right .3s ease-in;
  transition: right .3s ease-in;
}

.about-me__description-about-download:hover::before {
  left: 0;
}

.about-me__description-about-download:hover::after {
  right: 0;
}

.about-me__description-skills {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3rem;
}

.about-me__description-skills p {
  width: 100px;
  margin: 20px 0;
  font-weight: bold;
}

.about-me__description-skills span {
  display: block;
  font-size: 1.5rem;
  font-weight: normal;
}

.about-me__description-education {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  width: 100%;
  font-size: 1.4rem;
}

.about-me__description-education-main-text {
  width: 85%;
  padding-left: 10px;
  text-align: left;
  font-weight: bold;
}

.about-me__description-education-secondary-text {
  font-weight: normal;
}

.about-me__description-education-year {
  width: 15%;
  padding-right: 10px;
  text-align: right;
}

.portfolio {
  width: 100vw;
  height: auto;
  background-color: #020b15;
  color: white;
}

.portfolio__wrapper {
  padding: 20px 80px;
}

.portfolio__title {
  padding: 30px 0 40px 0;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.portfolio__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.portfolio__card {
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 20px 20px;
  width: 200px;
  height: 200px;
}

.portfolio__card:hover .portfolio__card-front {
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.portfolio__card:hover .portfolio__card-front::before {
  bottom: -100%;
}

.portfolio__card:hover .portfolio__card-back {
  opacity: 1;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.portfolio__card-front {
  position: relative;
  overflow: hidden;
  -webkit-transition: opacity 1.5s, -webkit-transform 1s;
  transition: opacity 1.5s, -webkit-transform 1s;
  transition: transform 1s, opacity 1.5s;
  transition: transform 1s, opacity 1.5s, -webkit-transform 1s;
  border: 2px solid #ffffff;
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.portfolio__card-front::before {
  content: '';
  position: absolute;
  bottom: 0;
  -webkit-transition: bottom 1.5s;
  transition: bottom 1.5s;
  width: 100%;
  height: 20%;
  background-color: #ffffff;
  color: #020b15;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  padding: 5px 5px 0;
}

.portfolio__card-front--first {
  background-image: linear-gradient(45deg, rgba(9, 18, 27, 0.6), rgba(2, 11, 27, 0.6)), url("../img/website1.png");
}

.portfolio__card-front--first::before {
  content: 'Website';
}

.portfolio__card-front--second {
  background-image: linear-gradient(45deg, rgba(9, 18, 27, 0.6), rgba(2, 11, 27, 0.6)), url("../img/game1.png");
}

.portfolio__card-front--second::before {
  content: 'Game';
}

.portfolio__card-back {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: opacity 1.5s, -webkit-transform 1s;
  transition: opacity 1.5s, -webkit-transform 1s;
  transition: transform 1s, opacity 1.5s;
  transition: transform 1s, opacity 1.5s, -webkit-transform 1s;
  border: 2px solid #ffffff;
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 1.4rem;
  text-align: center;
}

.portfolio__card-back p:nth-child(2) {
  margin: 10px 0;
}

.portfolio__card-back-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 15px;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
}

.portfolio__card-back-link::before, .portfolio__card-back-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #8b0407;
  z-index: -1;
}

.portfolio__card-back-link::before {
  top: 0;
  left: -100%;
  -webkit-transition: left .3s ease-in;
  transition: left .3s ease-in;
}

.portfolio__card-back-link::after {
  bottom: 0;
  right: -100%;
  -webkit-transition: right .3s ease-in;
  transition: right .3s ease-in;
}

.portfolio__card-back-link:hover::before {
  left: 0;
}

.portfolio__card-back-link:hover::after {
  right: 0;
}

.footer__text {
  border-top: 1px solid #ffffff8a;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
}

@media screen and (min-width: 375px) {
  .burger-btn {
    top: 10px;
    right: 20px;
  }
  .nav__vertical-item {
    font-size: 4rem;
  }
  .title-page__first-line {
    font-size: 2rem;
  }
  .title-page__second-line {
    font-size: 4rem;
    line-height: 4rem;
  }
  .title-page__third-line {
    font-size: 2rem;
    text-align: right;
  }
  .title-page .bubbles__one {
    top: 50px;
    width: 130px;
    height: 130px;
  }
  .title-page .bubbles__two {
    top: 200px;
    width: 100px;
    height: 100px;
  }
  .title-page .bubbles__three {
    top: 350px;
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 400px) {
  .about-me__wrapper {
    padding: 20px 0;
  }
  .about-me__description {
    padding: 0 20px 30px 20px;
    font-size: 1.4rem;
  }
  .about-me__description-title {
    padding: 20px 0 10px 0;
    font-size: 2rem;
  }
  .about-me__description-education {
    font-size: 1.4rem;
  }
  .about-me__description-education-main-text {
    width: 80%;
    padding-left: 10px;
  }
  .about-me__description-education-year {
    width: 20%;
    padding-right: 10px;
  }
}

@media screen and (min-width: 540px) {
  .nav__vertical-item {
    font-size: 5rem;
  }
  .title-page__first-line {
    font-size: 3.2rem;
  }
  .title-page__second-line {
    font-size: 6rem;
    line-height: 5rem;
  }
  .title-page__third-line {
    font-size: 2.7rem;
    text-align: right;
  }
  .title-page .bubbles__one {
    top: 50px;
    width: 170px;
    height: 170px;
  }
  .title-page .bubbles__two {
    top: 250px;
    width: 130px;
    height: 130px;
  }
  .title-page .bubbles__three {
    top: 400px;
    width: 100px;
    height: 100px;
  }
  .about-me__wrapper {
    padding: 20px 20px;
  }
  .about-me__description-education {
    margin: 20px 0;
  }
  .about-me__description-education-main-text {
    position: relative;
    padding-left: 15px;
  }
  .about-me__description-education-main-text::before {
    content: '';
    position: absolute;
    left: -2px;
    height: 100%;
    width: 1px;
    background-color: #ffffff;
  }
  .about-me__description-education-year {
    position: relative;
    padding-right: 15px;
  }
  .about-me__description-education-year::before {
    content: '';
    position: absolute;
    right: -2px;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */