*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: #020b15;
  overflow: hidden;
}

.cursor-circle {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50% 50%;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s;
  z-index: 100;
}

.cursor-circle--active-nav {
  width: 120px;
  height: 120px;
  background-color: #ffffff;
}

.cursor-circle--active-burgerbtn {
  width: 60px;
  height: 60px;
}

.burger-btn {
  position: fixed;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  border: 1px solid transparent;
  background: none;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  cursor: none;
  outline: none;
  z-index: 10;
}

.burger-btn--show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.burger-btn__bars {
  margin: 2px 0;
  width: 30px;
  height: 2px;
  background-color: #e3e3e3;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.burger-btn__bars--active:nth-child(1) {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.burger-btn__bars--active:nth-child(2) {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav__horizontal {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 70px;
  height: 50px;
  width: 100vw;
  font-weight: bold;
  z-index: 9;
}

.nav__horizontal__item {
  position: relative;
  top: -200px;
  margin-left: 40px;
  color: white;
  font-size: 1.9rem;
  text-decoration: none;
}

.nav__vertical {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #020b15;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 9;
}

.nav__vertical--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__vertical__item {
  position: relative;
  display: block;
  margin: 10px 0;
  color: #ffffff;
  font-size: 3rem;
  text-decoration: none;
  letter-spacing: -1px;
  -webkit-transform: translateX(-3000px);
          transform: translateX(-3000px);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1), -webkit-transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.nav__vertical__item:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav__vertical__item::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ffffff;
  z-index: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav__vertical__item--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav__vertical__item--active:nth-child(1) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.nav__vertical__item--active:nth-child(2) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.nav__vertical__item--active:nth-child(3) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.nav__vertical__item--active:nth-child(4) {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.title-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #020b15;
  z-index: 8;
}

.title-page__hero-text {
  color: #ffffff;
}

.title-page__first-line {
  font-size: 1.7rem;
}

.title-page__second-line {
  font-size: 3.5rem;
  line-height: 3rem;
}

.title-page__third-line {
  font-size: 1.5rem;
  text-align: right;
}

.bubbles {
  position: absolute;
  border-radius: 50% 50%;
  background-color: #ffffff07;
  z-index: 7;
}

.bubbles__one {
  top: 50px;
  width: 100px;
  height: 100px;
}

.bubbles__two {
  top: 200px;
  width: 80px;
  height: 80px;
}

.bubbles__three {
  top: 300px;
  width: 50px;
  height: 50px;
}

.about-me {
  height: auto;
  width: 100vw;
  background-color: #09121b;
  color: #ffffff;
  z-index: 8;
}

.about-me__circle {
  display: none;
}

.about-me__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me__title {
  text-transform: uppercase;
  padding: 20px 0 10px 0;
  text-align: center;
  font-size: 2rem;
}

.about-me__description {
  position: relative;
  padding: 0 20px 40px 20px;
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
}

.about-me__description .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 3rem;
}

.about-me__description .skills p {
  width: 100px;
  margin: 20px 0;
  font-weight: bold;
}

.about-me__description .skills span {
  font-size: 1.5rem;
  display: block;
  font-weight: normal;
}

.about-me__description .education {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 1.4rem;
  margin: 10px 0;
}

.about-me__description .education__main-description {
  width: 85%;
  text-align: left;
  font-weight: bold;
  padding-left: 10px;
}

.about-me__description .education__secondary-description {
  font-weight: normal;
}

.about-me__description .education__year {
  width: 15%;
  padding-right: 10px;
  text-align: right;
}

.about-me .portfolio {
  height: 100vh;
  width: 100vw;
  background-color: #020b15;
}

@media screen and (min-width: 375px) {
  .burger-btn {
    top: 10px;
    right: 20px;
  }
  .nav__vertical__item {
    font-size: 4rem;
  }
  .title-page__first-line {
    font-size: 2rem;
  }
  .title-page__second-line {
    font-size: 4rem;
    line-height: 4rem;
  }
  .title-page__third-line {
    text-align: right;
    font-size: 2rem;
  }
  .bubbles__one {
    top: 50px;
    width: 130px;
    height: 130px;
  }
  .bubbles__two {
    top: 200px;
    width: 100px;
    height: 100px;
  }
  .bubbles__three {
    top: 350px;
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 400px) {
  .about-me__wrapper {
    padding: 20px 0;
  }
  .about-me__title {
    padding: 20px 0 10px 0;
    font-size: 2rem;
  }
  .about-me__description {
    padding: 0 20px 30px 20px;
    font-size: 1.4rem;
  }
  .about-me__description .education {
    font-size: 1.4rem;
  }
  .about-me__description .education__main-description {
    width: 80%;
    padding-left: 10px;
  }
  .about-me__description .education__year {
    width: 20%;
    padding-right: 10px;
  }
}

@media screen and (min-width: 540px) {
  .nav__vertical__item {
    font-size: 5rem;
  }
  .title-page__first-line {
    font-size: 3.2rem;
  }
  .title-page__second-line {
    font-size: 6rem;
    line-height: 5rem;
  }
  .title-page__third-line {
    text-align: right;
    font-size: 2.7rem;
  }
  .bubbles__one {
    top: 50px;
    width: 170px;
    height: 170px;
  }
  .bubbles__two {
    top: 250px;
    width: 130px;
    height: 130px;
  }
  .bubbles__three {
    top: 400px;
    width: 100px;
    height: 100px;
  }
  .about-me__wrapper {
    padding: 20px 20px;
  }
  .about-me__description .education {
    margin: 20px 0;
  }
  .about-me__description .education__main-description {
    position: relative;
    padding-left: 15px;
  }
  .about-me__description .education__main-description::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    left: -2px;
    background-color: #ffffff;
  }
  .about-me__description .education__year {
    position: relative;
    padding-right: 15px;
  }
  .about-me__description .education__year::before {
    content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    right: -2px;
    background-color: #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */