@import './colors'

//======================= MAIN =======================
///////////////////// TITLE PAGE /////////////////////
.title-page
    &__first-line
        font-size: 7rem

    &__second-line
        font-size: 12rem
        line-height: 10rem

    &__third-line
        text-align: right
        font-size: 5.5rem

.bubbles
    &__one
        left: 0px
        width: 400px
        height: 400px

    &__two
        top: 400px
        width: 300px
        height: 300px

    &__three
        top: 600px
        width: 200px
        height: 200px


///////////////////// ABOUT ME PAGE /////////////////////
.about-me
    &__wrapper
        height: 100vh
        width: 100vw
        margin: 100px 0

    &__circle
        display: block
        position: relative
        // width: 700px
        // height: 700px
        color: $white
        border-radius: 50% 50% 
        border: 2px solid $white
        font-size: 2rem
        font-weight: bold
        animation: rotatnion 60s linear infinite
        &__text
            transition: color .4s
            position: relative

            &--active
                color: $dark-red

            &:hover
                color: $dark-red

            span
                position: absolute

    &__description
        opacity: 0
        transition: opacity .4s

