@import './colors'
    
//////////////////////// RESET ////////////////////////
*,
*::before,
*::after 
    box-sizing: border-box
    margin: 0
    padding: 0
    cursor: none


html 
    scroll-behavior: smooth
    overflow-y: scroll
    font-size: 62.5%

body 
    position: relative
    font-family: 'Manrope', sans-serif
    font-size: 1.6rem
    background-color: $dark-blue
    overflow: hidden
    

.cursor-circle
    position: absolute
    top: 0
    left: 0
    display: flex;
    justify-content: center
    align-items: center
    width: 30px
    height: 30px
    border: 2px solid white
    border-radius: 50% 50%
    font-size: 1.8rem
    transform: translate(-50%, -50%)
    transition: width .3s, height .3s
    &--active
        width: 120px
        height: 120px  


//======================= NAVIGATION =======================
.burger-btn
    position: fixed
    top: 5px
    right: 20px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 80px
    height: 80px
    border: 1px solid transparent
    background: none
    transform: translateX(150%)
    transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
    cursor: none
    z-index: 3
    outline: none

    &--active
        transform: translateX(0)

    &__bars
        margin: 2px 0 
        width: 25px
        height: 2px
        background-color: $light-white

.nav
    &__horizontal
        position: fixed
        display: flex
        justify-content: flex-end
        align-items: flex-end
        padding-right: 70px
        height: 50px
        width: 100vw
        &__item
            position: relative
            top: -200px
            margin-left: 40px
            color: white
            font-size: 1.9rem
            letter-spacing: -1px
            text-decoration: none

    &__vertical
        position: fixed
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        height: 100vh
        width: 100vw
        background-color: $transparent-dark-blue
        transform: translateX(-100%)
        transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1);
        z-index: 2

        &--active
            transform: translateX(0)

        &__item
            position: relative
            display: block
            margin: 10px 0
            color: $white
            font-size: 3rem
            text-decoration: none
            letter-spacing: -1px




//======================= MAIN =======================
///////////////////// TITLE PAGE /////////////////////

.title-page
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    width: 100vw
    background-color: $dark-blue
    z-index: 1

    &__hero-text
        color: $white

    &__first-line
        font-size: 1.7rem

    &__second-line
        font-size: 3.5rem
        line-height: 3rem

    &__third-line
        font-size: 1.5rem
        text-align: right

.bubbles
    position: absolute
    border-radius: 50% 50%
    background-color: $transparent-white

    &__one
        top: 50px
        width: 100px
        height: 100px

    &__two
        top: 200px
        width: 80px
        height: 80px

    &__three
        top: 300px
        width: 50px
        height: 50px
        
///////////////////// ABOUT ME PAGE /////////////////////
.about-me
    height: 100vh
    width: 100vw
    background-color: grey

@media screen and ( min-width: 375px )
    //======================= MAIN =======================
    ///////////////////// TITLE PAGE /////////////////////
    .title-page
        &__first-line
            font-size: 2rem

        &__second-line
            font-size: 4rem
            line-height: 4rem

        &__third-line
            text-align: right
            font-size: 2rem

    .bubbles
        &__one
            top: 50px
            width: 130px
            height: 130px

        &__two
            top: 200px
            width: 100px
            height: 100px

        &__three
            top: 350px
            width: 80px
            height: 80px

@media screen and ( min-width: 540px )
    //======================= MAIN =======================
    ///////////////////// TITLE PAGE /////////////////////    
    .title-page
        &__first-line
            font-size: 3.2rem

        &__second-line
            font-size: 6rem
            line-height: 5rem

        &__third-line
            text-align: right
            font-size: 2.7rem

    .bubbles
        &__one
            top: 50px
            width: 170px
            height: 170px

        &__two
            top: 250px
            width: 130px
            height: 130px

        &__three
            top: 400px
            width: 100px
            height: 100px



