@import './colors'
@import './animations'

//////////////////////// RESET ////////////////////////
*,
*::before,
*::after 
    box-sizing: border-box
    margin: 0
    padding: 0
    cursor: none

html 
    scroll-behavior: smooth
    overflow-y: scroll
    font-size: 62.5%

body 
    position: relative
    overflow: hidden
    background-color: $dark-blue
    font-family: 'Roboto', sans-serif
    font-size: 1.6rem

//////////////////////// GLOBAL OBJECTS ////////////////////////
.cursor-circle
    position: absolute
    z-index: 100
    top: 0
    left: 0
    justify-content: center
    align-items: center
    display: flex
    transform: translate(-50%, -50%)
    transition: width .3s, height .3s
    border: 2px solid white
    border-radius: 50% 50%
    width: 30px
    height: 30px
    font-size: 1.8rem
    font-weight: bold
    pointer-events: none

    &--active
        width: 60px
        height: 60px

    &--active-nav
        width: 120px
        height: 120px
        background-color: $white


//======================= NAVIGATION =======================
.burger-btn
    position: fixed
    z-index: 10
    top: 0px
    right: 0px
    flex-direction: column
    justify-content: center
    align-items: center
    display: flex
    transform: translateX(150%)
    transition: transform .5s cubic-bezier(0.65, 0.05, 0.36, 1)
    border: 1px solid transparent
    width: 80px
    height: 80px
    background: none
    cursor: none
    outline: none

    &--show
        transform: translateX(0)

    &__bars
        transition: transform .8s
        margin: 2px 0 
        width: 30px
        height: 2px
        background-color: $light-white

        &--active
            &:nth-child(1)
                transform: translateY(3px) 

            &:nth-child(2)
                transform: translateY(-3px) 
            
.nav
    &__horizontal
        position: fixed
        z-index: 9
        justify-content: flex-end
        align-items: flex-end
        display: flex
        height: 50px
        width: 100vw
        padding-right: 70px
        font-weight: bold

        &__item
            position: relative
            top: -200px
            margin-left: 40px
            font-size: 1.9rem
            color: white
            text-decoration: none

    &__vertical
        position: fixed
        z-index: 9
        flex-direction: column
        justify-content: center
        align-items: center
        display: flex
        transform: translateX(-100%)
        transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1);
        width: 100vw
        height: 100vh
        background-color: $dark-blue

        &--active
            transform: translateX(0)

        &__item
            position: relative
            display: block
            transform: translateX(-3000px)
            transition: transform 1s cubic-bezier(0.65, 0.05, 0.36, 1)
            margin: 10px 0
            font-size: 3rem
            letter-spacing: -1px
            color: $white
            text-decoration: none

            &:hover::after
                transform: scaleX(1)
                
            &::after
                content: ''
                position: absolute
                z-index: 0
                bottom: 0
                left: 0
                transform: scaleX(0)
                transition: transform .3s
                width: 100%
                height: 5px
                background-color: $white

            &--active
                transform: translateX(0)
                &:nth-child(1)
                    transition-delay: .1s
                &:nth-child(2)
                    transition-delay: .3s
                &:nth-child(3)
                    transition-delay: .5s
                &:nth-child(4)
                    transition-delay: .7s


//======================= MAIN =======================
///////////////////// TITLE PAGE /////////////////////
.title-page
    z-index: 8
    justify-content: center
    align-items: center
    display: flex
    height: 100vh
    width: 100vw
    background-color: $dark-blue

    &__hero-text
        color: $white

    &__first-line
        font-size: 1.7rem

    &__second-line
        font-size: 3.5rem
        line-height: 3rem

    &__third-line
        font-size: 1.5rem
        text-align: right

.bubbles
    position: absolute
    z-index: 7
    border-radius: 50% 50%
    background-color: $transparent-white

    &__one
        top: 50px
        width: 100px
        height: 100px

    &__two
        top: 200px
        width: 80px
        height: 80px

    &__three
        top: 300px
        width: 50px
        height: 50px
        

///////////////////// ABOUT ME PAGE /////////////////////
.about-me
    z-index: 8
    height: auto
    width: 100vw
    background-color: $semi-dark-blue
    color: $white
    
    &__circle
        display: none

    &__wrapper
        position: relative
        flex-direction: column
        align-items: center
        display: flex
        width: 100%
        height: 100%
        padding: 20px 0

    &__title
        padding: 20px 0 10px 0
        font-size: 2rem
        text-align: center
        text-transform: uppercase

    &__description
        position: relative
        width: 100%
        padding: 0 20px 40px 20px 
        font-size: 1.4rem
        text-align: center

        .aboutme
            &__download
                position: relative
                z-index: 8
                display: inline-block
                overflow: hidden
                margin-top: 10px
                border: 1px solid $white
                border-radius: 15px
                padding: 8px 12px
                font-size: 1.3rem
                color: $white
                text-decoration: none
        
                &::before, &::after
                    content: ''
                    position: absolute
                    width: 100%
                    height: 50%
                    background-color: $dark-red
                    z-index: -1

                &::before
                    top: 0
                    left: -100%
                    transition: left .3s ease-in

                &::after
                    bottom: 0
                    right: -100%
                    transition: right .3s ease-in

                &:hover::before
                    left: 0

                &:hover::after
                    right: 0

        .skills
            justify-content: center
            align-items: center
            flex-wrap: wrap
            display: flex
            font-size: 3rem

            p
                width: 100px
                margin: 20px 0
                font-weight: bold

            span
                display: block
                font-size: 1.5rem
                font-weight: normal

        .education
            position: relative
            display: flex
            margin: 10px 0
            width: 100%
            font-size: 1.4rem

            &__main-description
                width: 85%
                padding-left: 10px
                text-align: left
                font-weight: bold

            &__secondary-description
                font-weight: normal
                
            &__year
                width: 15%
                padding-right: 10px
                text-align: right


///////////////////// PORTFOLIO PAGE /////////////////////
.portfolio
    height: 100vh
    width: 100vw
    background-color: $dark-blue


@media screen and ( min-width: 375px )
    //=============== NAVIGATION ===============
    .burger-btn
        top: 10px
        right: 20px

    .nav
        &__vertical
            &__item
                font-size: 4rem

    //================== MAIN ==================
    //////////////// TITLE PAGE ////////////////
    .title-page
        &__first-line
            font-size: 2rem

        &__second-line
            font-size: 4rem
            line-height: 4rem

        &__third-line
            font-size: 2rem
            text-align: right

    .bubbles
        &__one
            top: 50px
            width: 130px
            height: 130px

        &__two
            top: 200px
            width: 100px
            height: 100px

        &__three
            top: 350px
            width: 80px
            height: 80px


@media screen and ( min-width: 400px )
    //================== MAIN ==================
    /////////////// ABOUT ME PAGE //////////////
    .about-me
        &__wrapper
            padding: 20px 0
      
        &__title
            padding: 20px 0 10px 0
            font-size: 2rem

        &__description
            padding: 0 20px 30px 20px 
            font-size: 1.4rem

            .education
                font-size: 1.4rem
       
                &__main-description
                    width: 80%
                    padding-left: 10px
                    
                &__year
                    width: 20%
                    padding-right: 10px

    
@media screen and ( min-width: 540px )
    //================ NAVIGATION ==============    
    .nav
        &__vertical
            &__item
                font-size: 5rem

    //================== MAIN ==================
    //////////////// TITLE PAGE ////////////////    
    .title-page
        &__first-line
            font-size: 3.2rem

        &__second-line
            font-size: 6rem
            line-height: 5rem

        &__third-line
            font-size: 2.7rem
            text-align: right

    .bubbles
        &__one
            top: 50px
            width: 170px
            height: 170px

        &__two
            top: 250px
            width: 130px
            height: 130px

        &__three
            top: 400px
            width: 100px
            height: 100px

    //////////////// ABOUT ME PAGE ////////////////
    .about-me
        &__wrapper
            padding: 20px 20px
      
        &__description
            .education
                margin: 20px 0

                &__main-description
                    position: relative
                    padding-left: 15px

                    &::before
                        content: ''
                        position: absolute
                        left: -2px
                        height: 100%
                        width: 1px
                        background-color: $white
                        
                &__year
                    position: relative
                    padding-right: 15px 

                    &::before
                        content: ''
                        position: absolute
                        right: -2px
                        border-radius: 50%
                        height: 8px
                        width: 8px
                        background-color: $white
