//======================= MAIN =======================
///////////////////// TITLE PAGE /////////////////////
.title-page
    &__first-line
        font-size: 5rem

    &__second-line
        font-size: 9rem
        line-height: 8.5rem

    &__third-line
        font-size: 4rem
        text-align: right

    .bubbles
        &__one
            top: 50px
            width: 300px
            height: 300px

        &__two
            top: 400px
            width: 230px
            height: 230px

        &__three
            top: 650px
            width: 150px
            height: 150px


///////////////////// ABOUT ME PAGE /////////////////////
.about-me
    &__wrapper
        padding: 20px 90px

    &__description
        &-skills
            p
                width: 110px

        &-education
            &-main-text
                width: 80%

            &-year
                width: 20%
        

@media screen and ( min-width: 840px )
    //================== MAIN ==================
    ////////////// ABOUT ME PAGE ///////////////
    .about-me
        &__wrapper
            padding: 20px 100px

        &__description
            &-skills
                p
                    width: 120px

            &-education
                &-main-text
                    width: 75%

                &-year
                    width: 25%


@media screen and ( min-width: 950px )
    //================== MAIN ==================
    ////////////// ABOUT ME PAGE ///////////////
    .about-me
        &__description
            &-skills
                p
                    width: 130px
