@-webkit-keyframes slideInDown {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

@keyframes slideInDown {
  from {
    top: -200px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes slideInUp {
  from {
    top: 0px;
  }
  to {
    top: -200px;
  }
}

@keyframes slideInUp {
  from {
    top: 0px;
  }
  to {
    top: -200px;
  }
}

@-webkit-keyframes circleRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circleRotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.title-page__first-line {
  font-size: 7rem;
}

.title-page__second-line {
  font-size: 12rem;
  line-height: 10rem;
}

.title-page__third-line {
  text-align: right;
  font-size: 5.5rem;
}

.title-page .bubbles__one {
  left: 0px;
  width: 400px;
  height: 400px;
}

.title-page .bubbles__two {
  top: 400px;
  width: 300px;
  height: 300px;
}

.title-page .bubbles__three {
  top: 600px;
  width: 200px;
  height: 200px;
}

.about-me {
  height: auto;
}

.about-me__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 900px;
  height: 100vh;
  width: 100vw;
  padding: 80px 0;
}

.about-me__circle {
  position: relative;
  display: block;
  -webkit-animation: circleRotation 60s linear infinite;
          animation: circleRotation 60s linear infinite;
  border: 2px solid #ffffff;
  border-radius: 50% 50%;
  width: 700px;
  height: 700px;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.about-me__circle-text {
  position: relative;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.about-me__circle-text--active {
  color: #8b0407;
}

.about-me__circle-text:hover {
  color: #8b0407;
}

.about-me__circle-text span {
  position: absolute;
}

.about-me__description {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  width: 600px;
  height: 400px;
  padding: 0;
  letter-spacing: .5px;
  pointer-events: none;
}

.about-me__description-title {
  padding: 0 0 20px 0;
}

.about-me__description--active {
  opacity: 1;
  pointer-events: auto;
}

.about-me__description-about {
  padding: 0 50px;
}

.about-me__description-about-download {
  margin-top: 15px;
}

.about-me__description-skills p {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
  width: 120px;
}

.about-me__description-skills p:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.about-me__description-education {
  padding: 0 30px 15px 0;
}

.portfolio {
  min-height: 100vh;
}

.portfolio__wrapper {
  padding: 0 90px;
}

.portfolio__card {
  margin: 40px 50px;
  width: 300px;
  height: 300px;
}

.portfolio__card-front::before {
  font-size: 2.2rem;
  padding: 10px 5px 0;
}

.portfolio__card-back {
  padding: 5px;
  font-size: 1.8rem;
}

.portfolio__card-back p:nth-child(2) {
  margin: 20px 0;
}

.portfolio__card-back-link {
  margin: 0 auto;
  border-radius: 15px;
  padding: 5px 10px;
}

.footer__text {
  font-size: 2rem;
}

@media screen and (min-width: 1700px) {
  .portfolio__wrapper {
    padding: 0 150px;
  }
}
/*# sourceMappingURL=large.css.map */